<ol id="products-list" class="products-list" *ngIf="result && !isGrid">
    <li class="item odd" *ngFor="let c of result._embedded.categories">
      <div class="product-image">
        <a [routerLink]="['/catalog','C',c.id]" title="{{ c.name }}">
          <img class="small-image" src="http://localhost:8080/photoCategories/{{c.id}}" alt="{{ c.name }}" width="230">
        </a>
      </div>
      <div class="product-shop">
        <h2 class="product-name">
          <a title="{{ c.name }}" [routerLink]="['/catalog','C',c.id]">
            {{ c.name }} </a>
        </h2>
      </div>
    </li>
  </ol>
  <!-- isGrid -->
  <ul class="products-grid" *ngIf="result && isGrid">
    <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let c of result._embedded.categories">
      <div class="col-item">
        <div class="product-image-area">
          <a class="product-image" title="{{ c.name }}" [routerLink]="['/catalog','C',c.id]">
            <img src="http://localhost:8080/photoCategories/{{c.id}}" class="img-responsive" alt="{{ c.name }}" />
          </a>
        </div>
        <div class="info">
          <div class="info-inner">
            <div class="item-title">
              <a title=" {{ c.name }}" [routerLink]="['/catalog','C',c.id]">
                {{ c.name }} </a>
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </li>
  </ul>