<!-- Header -->
<header class="header-container">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Header Language -->
        <div class="col-xs-6">
          <div class="welcome-msg hidden-xs"> Welkom to infoMED </div>
        </div>
        <div class="col-xs-6">

          <!-- Header Top Links -->
          <div class="toplinks">
            <div class="links">
              <!-- <div class="myaccount"><a title="My Account"><span class="hidden-xs">My
                    Account</span></a></div> -->
              <!-- <div class="wishlist"><a title="My Wishlist" href="wishlist.html"><span
                    class="hidden-xs">Wishlist</span></a></div> -->
              <div class="check"><a title="Checkout"  routerLink="/catalog/checkout"><span class="hidden-xs">Checkout</span></a>
              </div>
              <div class="login"><a title="Login" routerLink="/login"><span class="hidden-xs">Log In</span></a></div>
            </div>
          </div>
          <!-- End Header Top Links -->
        </div>
      </div>
    </div>
  </div>
  <div class="header container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-md-2">
        <!-- Header Logo -->
        <a class="logo" title="Magento Commerce" href="index.html"><img alt="Magento Commerce"
            src="assets/images/logo.png"></a>
        <!-- End Header Logo -->
      </div>
      <div class="col-lg-8 col-sm-6 col-md-8">
        <!-- Search-col -->
        <div class="search-box">
          <form #search="ngForm" (submit)="findByMc(search)" id="search_mini_form" name="Categories">
            <select name="category_id" class="cate-dropdown hidden-xs" disabled="disabled">
              <option value="0"></option>
            </select>

            <input type="text" placeholder="Search here..." name="search" ngModel id="search" required>
            <button id="submit-button" class="search-btn-bg" type="submit" [disabled]="search.invalid"><span>Search</span></button>
          </form>
        </div>
        <!-- End Search-col -->
      </div>
      <!-- Top Cart -->
      <div class="col-lg-2 col-sm-3 col-md-2">
        <div class="top-cart-contain">
          <div class="mini-cart">
            <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#"> <i
                  class="glyphicon glyphicon-shopping-cart"></i>
                <div class="cart-box"><span class="title">cart</span><span id="cart-total">{{ cart.length }} item
                  </span></div>
              </a></div>
            <div *ngIf="cart.length > 0">
              <div class="top-cart-content arrow_box">
                <div class="block-subtitle">Recently added item(s)</div>




                <div class="scrol-with-3items">
                  <ul id="cart-sidebar" class="mini-products-list">
                    <li class="item even" *ngFor="let c of cart;index as i">
                      <a class="product-image" title="Downloadable Product ">
                        <img alt="Downloadable Product " src="http://localhost:8080/photoProduct/{{c.product.id}}"
                          width="80">
                      </a>
                      <div class="detail-item">
                        <div class="product-details">
                          <a href="#" title="Remove This Item" lass="glyphicon glyphicon-remove">
                            &nbsp;
                          </a>
                          <a class="glyphicon glyphicon-pencil" title="Edit item" href="#">
                            &nbsp;
                          </a>
                          <p class="product-name">
                            <a href="product_detail.html" title="Downloadable Product">
                              {{c.product.name}}
                            </a>
                          </p>
                        </div>
                        <div class="product-details-bottom">
                          <span class="price">
                            {{c.price}}
                          </span>
                          <span class="title-desc">
                            Qty:
                          </span>
                          <strong>
                            {{c.qty}}
                          </strong>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>



                <div class="top-subtotal">Subtotal: <span class="price">${{ cartService.subTotalPrice }}</span></div>
                <div class="actions">
                  <a routerLink="/catalog/checkout">
                    <button class="btn-checkout" type="button">
                      <span>
                        Checkout
                      </span>
                    </button>                  
                  </a>
                  <a routerLink="/catalog/shopping_cart">
                    <button class="view-cart" type="button">
                      <span>
                        View Cart
                      </span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="ajaxconfig_info"> <a href="#/"></a>
            <input value="" type="hidden">
            <input id="enable_module" value="1" type="hidden">
            <input class="effect_to_cart" value="1" type="hidden">
            <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
          </div>
        </div>
      </div>
      <!-- End Top Cart -->
    </div>
  </div>
</header>
<!-- end header -->
<!-- Navbar -->
<nav>
  <div class="container">
    <div class="nav-inner">
      <div class="logo-small"> <a class="logo" title="Magento Commerce" href="index.html"><img alt="Magento Commerce"
            src="assets/images/logo.png"></a> </div>
      <!-- mobile-menu -->
      <div class="hidden-desktop" id="mobile-menu">
        <ul class="navmenu">
          <li>
            <div class="menutop">
              <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                  class="icon-bar"></span></div>
              <h2>Menu</h2>
            </div>
            <ul class="submenu">
              <li>
                <ul class="topnav">
                  <li class="level0 nav-6 level-top first parent"> <a class="level-top" href="#"> <span>Pages</span>
                    </a>
                    <ul class="level0">
                      <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                      <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                      <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                      <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                      <li class="level1 first"><a href="checkout.html"><span>Checkout</span></a> </li>
                      <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                      <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                      <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                      <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                      <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                      <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                      <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                      <li class="level1"> <a href="quick_view.html"> <span>Quick view</span> </a> </li>
                      <li class="level1"><a href="blog.html"><span>Blog</span></a> </li>
                      <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                      <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                    </ul>
                  </li>
                  <li class="level0 nav-7 level-top parent"> <a class="level-top" href="grid.html"> <span>Women</span>
                    </a>
                    <ul class="level0">
                      <li class="level1 nav-1-1 first parent"> <a href="grid.html"> <span>Clothing</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-1-1-1 first"> <a href="grid.html"> <span>Western Wear</span> </a> </li>
                          <li class="level2 nav-1-1-2"> <a href="grid.html"> <span>Night Wear</span> </a> </li>
                          <li class="level2 nav-1-1-3"> <a href="grid.html"> <span>Ethnic Wear</span> </a> </li>
                          <li class="level2 nav-1-1-4 last"> <a href="grid.html"> <span>Designer Wear</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-1-2 parent"> <a href="grid.html"> <span>Watches</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-1-2-5 first"> <a href="grid.html"> <span>Fashion</span> </a> </li>
                          <li class="level2 nav-1-2-6"> <a href="grid.html"> <span>Dress</span> </a> </li>
                          <li class="level2 nav-1-2-7"> <a href="grid.html"> <span>Sports</span> </a> </li>
                          <li class="level2 nav-1-2-8 last"> <a href="grid.html"> <span>Casual</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-1-3 parent"> <a href="grid.html"> <span>Styliest Bag</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-1-3-9 first"> <a href="grid.html"> <span>Clutch Handbags</span> </a>
                          </li>
                          <li class="level2 nav-1-3-10"> <a href="grid.html"> <span>Diaper Bags</span> </a> </li>
                          <li class="level2 nav-1-3-11"> <a href="grid.html"> <span>Bags</span> </a> </li>
                          <li class="level2 nav-1-3-12 last"> <a href="grid.html"> <span>Hobo Handbags</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-1-4 last parent"> <a href="grid.html"> <span>Material Bag</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-1-4-13 first"> <a href="grid.html"> <span>Beaded Handbags</span> </a>
                          </li>
                          <li class="level2 nav-1-4-14"> <a href="grid.html"> <span>Fabric Handbags</span> </a> </li>
                          <li class="level2 nav-1-4-15"> <a href="grid.html"> <span>Handbags</span> </a> </li>
                          <li class="level2 nav-1-4-16 last"> <a href="grid.html"> <span>Leather Handbags</span> </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="level0 nav-8 level-top parent"> <a class="level-top" href="grid.html"> <span>Men</span>
                    </a>
                    <ul class="level0">
                      <li class="level1 nav-2-1 first parent"> <a href="grid.html"> <span>Clothing</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-2-1-1 first"> <a href="grid.html"> <span>Casual Wear</span> </a> </li>
                          <li class="level2 nav-2-1-2"> <a href="grid.html"> <span>Formal Wear</span> </a> </li>
                          <li class="level2 nav-2-1-3"> <a href="grid.html"> <span>Ethnic Wear</span> </a> </li>
                          <li class="level2 nav-2-1-4 last"> <a href="grid.html"> <span>Denims</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-2-2 parent"> <a href="grid.html"> <span>Shoes</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-2-2-5 first"> <a href="grid.html"> <span>Formal Shoes</span> </a> </li>
                          <li class="level2 nav-2-2-6"> <a href="grid.html"> <span>Sport Shoes</span> </a> </li>
                          <li class="level2 nav-2-2-7"> <a href="grid.html"> <span>Canvas Shoes</span> </a> </li>
                          <li class="level2 nav-2-2-8 last"> <a href="grid.html"> <span>Leather Shoes</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-2-3 parent"> <a href="grid.html"> <span>Watches</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-2-3-9 first"> <a href="grid.html"> <span>Digital</span> </a> </li>
                          <li class="level2 nav-2-3-10"> <a href="grid.html"> <span>Chronograph</span> </a> </li>
                          <li class="level2 nav-2-3-11"> <a href="grid.html"> <span>Sports</span> </a> </li>
                          <li class="level2 nav-2-3-12 last"> <a href="grid.html"> <span>Casual</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-2-4 parent"> <a href="grid.html"> <span>Jackets</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-2-4-13 first"> <a href="grid.html"> <span>Coats</span> </a> </li>
                          <li class="level2 nav-2-4-14"> <a href="grid.html"> <span>Formal Jackets</span> </a> </li>
                          <li class="level2 nav-2-4-15"> <a href="grid.html"> <span>Leather Jackets</span> </a> </li>
                          <li class="level2 nav-2-4-16 last"> <a href="grid.html"> <span>Blazers</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-2-5 last parent"> <a href="grid.html"> <span>Sunglasses</span> </a>
                        <ul class="level1">
                          <li class="level2 nav-2-5-17 first"> <a href="grid.html"> <span>Ray Ban</span> </a> </li>
                          <li class="level2 nav-2-5-18"> <a href="grid.html"> <span>Fasttrack</span> </a> </li>
                          <li class="level2 nav-2-5-19"> <a href="grid.html"> <span>Police</span> </a> </li>
                          <li class="level2 nav-2-5-20 last"> <a href="grid.html"> <span>Oakley</span> </a> </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="level0 nav-3 level-top parent"> <a href="grid.html" class="level-top">
                      <span>Jewellery</span> </a><em>+</em>
                    <ul class="level0">
                      <li class="level1 nav-3-1 first parent"> <a href="grid.html"> <span>Precious Jewellery</span>
                        </a><em>+</em>
                        <ul class="level1">
                          <li class="level2 nav-3-1-1 first"> <a href="grid.html"> <span>Gitanjali</span> </a> </li>
                          <li class="level2 nav-3-1-2"> <a href="grid.html"> <span>Tara</span> </a> </li>
                          <li class="level2 nav-3-1-3"> <a href="grid.html"> <span>Orra</span> </a> </li>
                          <li class="level2 nav-3-1-4 last"> <a href="grid.html"> <span>Ahilya</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-3-2 parent"> <a href="grid.html"> <span>Fashion Jewellery</span>
                        </a><em>+</em>
                        <ul class="level1">
                          <li class="level2 nav-3-2-5 first"> <a href="grid.html"> <span>Earrings</span> </a> </li>
                          <li class="level2 nav-3-2-6"> <a href="grid.html"> <span>Rings</span> </a> </li>
                          <li class="level2 nav-3-2-7"> <a href="grid.html"> <span>Bangles &amp; Bracelets</span> </a>
                          </li>
                          <li class="level2 nav-3-2-8 last"> <a href="grid.html"> <span>Pendants</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-3-3 parent"> <a href="grid.html"> <span>Mens Jewellery</span> </a><em>+</em>
                        <ul class="level1">
                          <li class="level2 nav-3-3-9 first"> <a href="grid.html"> <span>Neck Wear</span> </a> </li>
                          <li class="level2 nav-3-3-10"> <a href="grid.html"> <span>Cufflinks</span> </a> </li>
                          <li class="level2 nav-3-3-11"> <a href="grid.html"> <span>Wrist Wear</span> </a> </li>
                          <li class="level2 nav-3-3-12 last"> <a href="grid.html"> <span>Rings</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-3-4 parent"> <a href="grid.html"> <span>Designer</span> </a><em>+</em>
                        <ul class="level1">
                          <li class="level2 nav-3-4-13 first"> <a href="grid.html"> <span>Bbling</span> </a> </li>
                          <li class="level2 nav-3-4-14"> <a href="grid.html"> <span>Ciana</span> </a> </li>
                          <li class="level2 nav-3-4-15"> <a href="grid.html"> <span>Bansri</span> </a> </li>
                          <li class="level2 nav-3-4-16 last"> <a href="grid.html"> <span>Arsya</span> </a> </li>
                        </ul>
                      </li>
                      <li class="level1 nav-3-5 last parent"> <a href="grid.html"> <span>Platinum</span> </a><em>+</em>
                        <ul class="level1">
                          <li class="level2 nav-3-5-17 first"> <a href="grid.html"> <span>Earrings</span> </a> </li>
                          <li class="level2 nav-3-5-18"> <a href="grid.html"> <span>Rings</span> </a> </li>
                          <li class="level2 nav-3-5-19"> <a href="grid.html"> <span>Bangles &amp; Bracelets</span> </a>
                          </li>
                          <li class="level2 nav-3-5-20 last"> <a href="grid.html"> <span>Pendants</span> </a> </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="level0 nav-10 level-top "> <a class="level-top" href="blog.html"> <span>Custom</span> </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!--navmenu-->
      </div>

      <!--End mobile-menu -->
      <ul id="nav" class="hidden-xs">
        <li id="nav-home" class="level0 parent drop-menu"><a routerLink="/home"><span>Accueil</span>
          </a>
        </li>
        <li class="level0" *ngFor="let d of menu">
          <a *ngIf="d.principal" (click)="onClickDomain(d.id)" [routerLink]="['/catalog','D',d.id]" class="level-top">
            <span>
              {{d.name}}
            </span>
          </a>
          <div class="level0-wrapper dropdown-6col">
            <div class="level0-wrapper2">
              <div class="nav-block nav-block-center">
                <ul class="level0">
                  <li class="level3 nav-6-1 parent item" *ngFor="let c of d.categoryGlob">
                    <a (click)="onClickCategory(d.id,c.id)" [routerLink]="['/catalog','C',c.id]">
                      <span>
                        {{c.name}}
                      </span>
                    </a>
                    <!--sub sub category-->
                    <ul class="level1">
                      <li class="level2 nav-6-1-1" *ngFor="let sc of c.subCatGlob">
                        <a (click)="onClickSubCategory(d.id,c.id,sc.id)" [routerLink]="['/catalog','SC',sc.id]">
                          <span>
                            {{sc.name}}
                          </span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end nav -->