<!-- magik-slideshow -->
<app-magik-slideshow></app-magik-slideshow>
<!-- header service -->
<app-container-services></app-container-services>
<!-- offer-banner-section -->
<app-offer-banner-section></app-offer-banner-section>
<!-- main-container -->
<app-main-container></app-main-container>
<!-- offer-banner-section -->
<!-- <app-offer-banner-section></app-offer-banner-section> -->
<!-- promo-banner-section -->
<app-promo-banner-section></app-promo-banner-section>
<!-- featured-pro -->
<app-featured-pro></app-featured-pro>
<!-- middle slider -->
<!-- <app-middle-slider></app-middle-slider> -->